In [ ]:
import pandas as pd
import numpy as np

In [ ]:
airports = pd.read_csv('flights/airports.csv')
flights = pd.read_csv('flights/flights_subset.csv')

In [ ]:
#airports.to_excel?
#airports.to_excel("output.xlsx")  # saves where you are working with your notebook

In [ ]:
#airports.head()
#airports.tail()
#airports.shape
#airports.columns
#airports.dtypes
#airports.describe()
#airports[['IATA_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY']].describe()
#airports.transpose().head(5)

In [ ]:
round(flights['ARRIVAL_TIME'].mean(), 2)

In [ ]:
flights[['ARRIVAL_TIME']].mean().round(2)

In [ ]:
flights[['ARRIVAL_TIME', 'ARRIVAL_DELAY']].mean().round(2)

In [ ]:
airports.head(2)

In [ ]:
airports[airports.STATE == 'PA'].head(2)

In [ ]:
airports['CITY'].unique()

In [ ]:
flights.head()

In [ ]:
flights[flights.ARRIVAL_TIME<100][['ARRIVAL_TIME', 'ARRIVAL_DELAY']].head(2)

In [ ]:
flights['boolean_cond'] = [True if x < 100 else False for x in flights['ARRIVAL_TIME']]

In [ ]:
flights[['ARRIVAL_TIME', 'boolean_cond']].head(20)

In [ ]:
airports.head(1)

In [ ]:
airports.drop(1).head(2)  # row

In [ ]:
airports.drop(1, axis=0).head(2)  # row

In [ ]:
#airports.drop(1, axis=1).head(2)  # error... columns are key based

In [ ]:
airports.drop('IATA_CODE', axis=1).head(2)  # column

In [ ]:
airports.iloc[[0]].head(2)

In [ ]:
airports.iloc[[1]].head(2)

In [ ]:
airports.iloc[[0,1]].head(2)

In [ ]:
airports.head(2)

In [ ]:
airports['SOURCE'] = 'Kaggle'

In [ ]:
airports.head(2)

In [ ]:
airports['CITY_STATE'] = airports['CITY']+'-'+airports['STATE']

In [ ]:
airports.head(2)

In [ ]:
airports.sort_values('STATE').head(5)

In [ ]:
airports.sort_values('AIRPORT').head(5)

In [ ]:
airports_index = airports.set_index('STATE')
airports_index.head(2)

In [ ]:
airports_index.loc['AK'].head(2)

In [ ]:
airports_index.loc['AK', ['CITY']].head(2)

In [ ]:
airports_index.loc[['PA', 'AK'], ['CITY', 'COUNTRY']].head(10)

In [ ]:
airports_index.loc[airports_index['CITY']=='Los Angeles'].head(2)

In [ ]:
airports_index[airports_index['CITY']=='Los Angeles'].head(2)

In [ ]:
flights[['ARRIVAL_TIME', 'ARRIVAL_DELAY']].sort_values("ARRIVAL_TIME").head(2)

In [ ]:
#flights.rank?

In [ ]:
flights['rank'] = flights['ARRIVAL_TIME'].rank(method='max')

In [ ]:
flights[['ARRIVAL_TIME', 'ARRIVAL_DELAY', 'rank']].sort_values('rank', ascending=True).head(2)  # 419 'cos method=max averages all that are equal to the same value

In [ ]:
flights[flights['ARRIVAL_TIME']==1]['ARRIVAL_TIME'].value_counts()

In [ ]:
flights[['ARRIVAL_TIME', 'ARRIVAL_DELAY', 'rank']].sort_values('rank', ascending=False).head(2)

In [ ]:
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog','spider', 'snake'],'Number_legs': [4, 2, 4, 8, np.nan]})

In [ ]:
df

In [ ]:
df['max_rank'] = df['Number_legs'].rank(method='max')

In [ ]:
df['asc_rank'] = df['Number_legs'].rank(ascending=1) # max: highest rank in the group

In [ ]:
df['desc_rank'] = df['Number_legs'].rank(ascending=0)  # min: lowest rank in the group

In [ ]:
df

In [ ]:
df.sort_values('asc_rank', ascending=True)

In [ ]:
df.sort_values('asc_rank', ascending=False)

In [ ]:
df.sort_values('asc_rank')

In [ ]:
df.sort_values('asc_rank').iloc[[0,2]]

In [ ]:
df['rank'] = df['Number_legs'].rank()  # default method=‘average’
df

In [ ]:
nameAge_df = pd.DataFrame({'Name': ['Audrey', 'John', 'Tango', 'Sharon'],
                           'Age': ['40', '12', '32', '23']}, index=[0, 1, 2, 3])

In [ ]:
nameAge_df.head()

In [ ]:
nameAge_df2 = pd.DataFrame({'Name': ['Frank', 'Helen'], 'Age': ['34', '23']}, index=[4, 5])

In [ ]:
nameAge_df2.head()

In [ ]:
pd.concat([nameAge_df, nameAge_df2])

In [ ]:
nameHobbie_df2 = pd.DataFrame({'Name': ['Frank', 'Helen'], 'Hobbie': ['Read', 'Travel']}, index=[4, 5])

In [ ]:
nameAge_df2.head()

In [ ]:
nameHobbie_df2.head()

In [ ]:
pd.concat([nameAge_df2, nameHobbie_df2[['Hobbie']]], axis=1)

In [ ]:
airports.head(2)

In [ ]:
airports.rename(columns={'AIRPORT':'AIRPORT_NAME'}).head(2)

In [ ]:
flights.columns

In [ ]:
flights[['ORIGIN_AIRPORT']].head(2)

In [ ]:
flights_subset = flights[['DESTINATION_AIRPORT', 'ARRIVAL_TIME']].copy()  # only a subset of original dataframe
flights_subset.rename(columns={'DESTINATION_AIRPORT':'IATA_CODE'}, inplace=True)  # rename to help later
flights_subset.head(2)

In [ ]:
pd.merge(
    airports,
    flights_subset,
    how='inner', # left, right outer
    on='IATA_CODE'
).head(2)

In [ ]:
nameAge_df2 = pd.DataFrame({'Name': ['Frank', 'Helen', 'Li'], 'Age': ['34', '23', '34']}, index=[4, 5, 7])

In [ ]:
nameHobbie_df2 = pd.DataFrame({'Name': ['Frank', 'Helen', 'Mark'], 'Hobbie': ['Read', 'Travel', 'BoardGames']}, 
                              index=[4, 5, 6])

In [ ]:
pd.merge(nameAge_df2, nameHobbie_df2, how='inner', on='Name').head()

In [ ]:
pd.merge(nameAge_df2, nameHobbie_df2, how='left', on='Name').head()

In [ ]:
pd.merge(nameAge_df2, nameHobbie_df2, how='right', on='Name').head()

In [ ]:
nameAgeHobbie = pd.merge(nameAge_df2, nameHobbie_df2, how='outer', on='Name').head()
nameAgeHobbie.head(5)

In [ ]:
nameAgeHobbie.isnull()

In [ ]:
nameAgeHobbie.notnull()

In [ ]:
nameAgeHobbie.dropna()

In [ ]:
nameAgeHobbie.fillna('NotAvailable')

In [ ]:
nameAgeHobbie.replace('Frank', 'Frankie')

In [ ]:
print(nameAge_df2.shape)
print(nameHobbie_df2.shape)
print(pd.merge(nameAge_df2, nameHobbie_df2, how='inner', on='Name').shape)
print(pd.merge(nameAge_df2, nameHobbie_df2, how='left', on='Name').shape)
print(pd.merge(nameAge_df2, nameHobbie_df2, how='right', on='Name').shape)
print(pd.merge(nameAge_df2, nameHobbie_df2, how='outer', on='Name').shape)

In [ ]:
nameAge_df2

In [ ]:
nameHobbie_df2

In [ ]:
nameAge_df2.join(nameHobbie_df2[['Hobbie']], how="inner").head(2)

In [ ]:
nameAge_df3 = nameAge_df2.set_index('Name')

In [ ]:
nameAge_df2.set_index('Name', inplace=True)

In [ ]:
nameHobbie_df3 = nameHobbie_df2.set_index('Name')
nameAge_df3.join(nameHobbie_df3, how="inner").head(2)

In [ ]:
flights.columns

In [ ]:
flights.groupby('YEAR')[['ORIGIN_AIRPORT']].count()

In [ ]:
flights.groupby(['YEAR', 'DAY'])[['ORIGIN_AIRPORT']].count().head(2)

In [ ]:
flights.groupby(['YEAR', 'DAY'])[['ORIGIN_AIRPORT']].agg('count').head(2)

In [ ]:
flights.groupby(['YEAR', 'DAY'])[['AIRLINE_DELAY']].agg(['count', 'sum', 'mean']).head(2)

In [ ]:
flights.pivot_table(index=['YEAR', 'DAY']).head(2)

In [ ]:
flights.pivot_table(index=['YEAR', 'DAY'], aggfunc='sum').head(2)

In [ ]:
flights_subset = flights[['YEAR', 'DAY', 'AIRLINE_DELAY', 'AIR_SYSTEM_DELAY']]
flights_subset.pivot_table(index=['YEAR', 'DAY'], aggfunc=['sum', 'mean']).head(2)

In [ ]:
from datetime import datetime
from datetime import time
from datetime import timedelta

In [ ]:
dt_object = datetime(2017,8,20)
dt_object

In [ ]:
dt_object.strftime('%Y-%m-%d')

In [ ]:
dt_object.strftime('%A %d %B %Y')

In [ ]:
import pytz

In [ ]:
tz = pytz.timezone('America/New_York')
datetime.now(tz)

In [ ]:
tz = pytz.timezone('Europe/London')
datetime.now(tz)

In [ ]:
tz = pytz.timezone('Europe/Lisbon')
datetime.now(tz)

In [ ]:
flights.head()

In [ ]:
airports.count()

In [ ]:
airports.shape

In [ ]:
len(airports)

In [ ]:
airports[['COUNTRY']].count()

In [ ]:
#?airports.cumsum

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1-1-2000', periods=1000))
ts.head(4)

In [ ]:
ts = ts.cumsum()
ts.head(4)

In [ ]:
ts.plot()

In [ ]:
cumsum_df = pd.DataFrame(ts, columns=['Line1'])

In [ ]:
cumsum_df['Line2'] = cumsum_df['Line1']*2

In [ ]:
cumsum_df['Line3'] = cumsum_df['Line1']+10

In [ ]:
cumsum_df.plot()

In [ ]:
flights.columns

In [ ]:
flights['ORIGIN_AIRPORT'].value_counts()[:10]

In [ ]:
import matplotlib.pyplot as plt
plt.close('all')
plt_bar = flights['ORIGIN_AIRPORT'].value_counts()[:20].plot.bar(title='My Bar Plot')
plt_bar.set_xlabel('ORIGIN AIRPORT')
plt_bar.set_ylabel('Number of Flights')
plt.show()

In [ ]:
plt_bar = flights['ORIGIN_AIRPORT'].value_counts()[:20].plot.barh()

In [ ]:
flights['ORIGIN_AIRPORT'].value_counts()[:10].plot.hist()

In [ ]:
origin_plt = flights['ORIGIN_AIRPORT'].value_counts()[:5].plot.pie()

In [ ]:
origin_plt = flights['ORIGIN_AIRPORT'].value_counts()[:5].plot.pie(labels=['1st', '2nd', '3rd', '4th', '5th'], 
                                                                   autopct='%.2f')

In [ ]:
random_df = pd.DataFrame(np.random.rand(10, 5), 
                         columns=['A', 'B', 'C', 'D', 'E'])
random_df.head(10)

In [ ]:
random_df.plot.box()

In [ ]:
c_plt = random_df.boxplot()

In [ ]:
cplot = random_df.plot.area()

In [ ]:
cplot = random_df.plot.area(stacked=False)